* {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    color:#ECEFF4;
    text-decoration: none;
    width: auto;
    height: auto;
    background-color: transparent;
    border-width: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
html{
    font-size: 1vmax;
    font-size: 1.1vmax;
}
img {
    width: 100%;
    height: auto;
  }
body{
    background: #171A21;
    font-size: 0.83rem;
}
.header{
    padding: auto 4.01rem auto 4.245rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07),0px 23.3955px 33.4221px
                              rgba(0, 0, 0, 0.0503198), 0px 12.5083px 17.869px 
                              rgba(0, 0, 0, 0.0417275), 0px 7.01207px 10.0172px 
                              rgba(0, 0, 0, 0.035), 0px 3.72406px 5.32008px 
                             rgba(0, 0, 0, 0.0282725), 0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.header, .header > .logo-search, .header > .nav-account{
    display: flex;
    background: #171A21;
    align-items: center;
}
.header > .logo-search > *{
    margin-left: 1.04rem;
    height: 1.72rem;
}
.header svg{
    height: 1.72rem;
}
.logo-search{
    padding: 1.35rem 4.27rem;
}
.logo-search p{
    margin-top: -0.57rem;
}
.logo-text{
    text-transform: uppercase;
    width: min-content;
    color: white;
    font-weight: 800;
    font-size: 0.83rem;
    line-height: 1.15rem;
}
.header input{
    background: #0D1017;
    border: 0;
    border-radius: 5px;
    height: 2.5rem;
    padding-left: 0.83rem;
    box-sizing: border-box;
    font-size: 0.73rem;
}
.header input:focus{
    color: transparent;
}
.nav{
    display: flex;
}
a{
    color: rgb(236, 239, 244);
    opacity: 0.4;
    white-space: nowrap;
}
.nav a{
    margin-right: 2.81rem;
    opacity: 0.4;

}
.nav button{
    display: none;
}
a:hover{
    opacity: 1;
}
.nav-account img{
    height: 2.92rem;
    width: 2.92rem;
    margin-right: 0.83rem;
}
.burger-menu{
    position: absolute;
    width: fit-content;
    right: 1rem;
    background: #0D1017;
    border-radius: 10px;
    padding: 1.5rem;
    display: none;
}
.burger-menu a{
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}
.burger-menu a:last-child{
    margin: 0;
}
button, .featured-game-platform{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    padding: 0.68rem;
    color:rgba(255, 255, 255, 0.5);
    align-items: center;
}
/*button p, .featured-game-platform p{
    margin-left: 0.63rem;
    color:rgba(255, 255, 255, 0.5);
}*/
.header button{
    font-size: 0.83rem;
    margin-right: 4rem;
}
.header button svg{
    height:1.25rem;
    color: rgba(255, 255, 255, 0.5);
}
.header button p:hover, .header button svg:hover{
    opacity: 1;
}
.featured-game{
    display: flex;
    justify-content: space-between;
    margin:3.54rem;
}
.featured-game-description{
    width: 50%;
}
.featured-game-description a{
    font-size: 1.25rem;
    margin-top: 1.04rem;
}
.featured-game-caption{
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 1.25rem;
    width: max-content;
}
.featured-game-platforms{
    display: flex;
    margin-top: 1.88rem;
    align-items: center;

}
.featured-game-platform svg, button svg{
    height: 0.83rem;
    margin-right: 0.63rem;
}
.featured-game-platform{
    margin-right: 1.46rem;
}
.featured-game-text{
    color: #ECEFF4;
    font-size: 1.25rem;
    margin: 1.15rem 1.15rem 0 0;
    white-space: pre-wrap;
    opacity: 0.6;
    margin-top: 1.15rem;
    white-space: pre-wrap;
}
.featured-game-price{
    font-size: 2.5rem;
    font-weight: 700;
}
.featured-game-prices{
    display: flex;
    margin-top: 1.15rem;
    align-items: center;
}
.featured-game-old-price{
    text-decoration: line-through;
    height: 2.34rem;
    padding: 0.68rem;
    margin-left: 1.41rem;
    box-sizing: border-box;
    background: rgba(13, 16, 23, 1);
    border-radius: 0.26rem; 
    color: rgba(255, 255, 255, 0.4);
}
.featured-game-discount{
    height: 2.34rem;
    box-sizing: border-box;
    border-radius: 0.26rem;
    padding: 0.68rem;
    background: linear-gradient(180.46deg, #F15C3C 0.39%,
                        rgba(72, 37, 210, 0.8) 102.92%);
    color: rgb(23, 26, 33);
}
.featured-game-buy-buttons{
  display: flex;
  margin: 2.19rem 0 0 0; 
}
.featured-game-buy-buttons button{
    padding: 0.83rem 1rem;
    margin: 0 0.83rem 0 0;
    font-size: 0.83rem;
}
.featured-game-buy-buttons button:first-child{
    background: #4825D2;
    border-width: 0;
    color: #fff;
}
.featured-game-buy-buttons button svg{
    margin-right: 0.57rem;
    height: 0.73rem;
}

/*.featured-game-main-image{
    background: url(img/image\ 67.png) no-repeat;
    background-size: cover;
    width: 53rem;
    height: 29.84rem;
    border-radius: 8px;
}*/
.featured-game-images{
    width: 60%;
    padding-left: 8.54rem;
}
.featured-game-image-slider{
    display: flex;
    margin-top: 3.13rem;
    justify-content: space-between;
}
.slider-button{
    position: relative;
    height: 0.83rem;
    width: 0.83rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3.75rem;
    cursor: pointer;
}
.slider-button:last-child{
    transform: rotate(180deg);
}
.slider-button:first-child{
    left: 0rem;
}
.slider-image{
    width: 23%;
}
.sale{
    margin:3.54rem;
    max-width: 100rem;
}
.sale-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sale-head a{
    background: linear-gradient(0deg, #4825D2, #4825D2), #ECEFF4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 1;
}
.sale-main{
    display: flex;
    margin-top: 1.67rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sale-picture{
    position: relative;
    height: 20.68rem;
    width: 49%;
    margin-top: 2.08rem;
}
.sale-picture img{
    height: 20.68rem;
    border-radius: 5px;
    object-fit: cover;
}
.sale-game-nameprice{
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    height: 9.11rem;
    bottom: 0;
    right: 0;
    border-radius: 4.5rem 5px 5px 5px;
    width: max-content;
    padding: 2.50rem 0.94rem 1.61rem 1.61rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sale-game-name{
    font-weight: 700;
    font-size: 2.50rem;
}
.sale-game-price{
    font-size: 1.25rem;
    
}
.footer{
    width: 100%;
    height: 6.72rem;
    background-color: #0D1017;
    display: flex;
    padding: 2.66rem 4.17rem;
    box-sizing: border-box;
    justify-content: space-between;
}
.footer *{
    font-weight: 600;
    color: #fff;
    opacity: 1;
}
.footer a:last-child{
    text-decoration: underline;
    font-weight: 500;
}
/*Адаптив*/
@media (max-width: 768px){
        html{
        font-size: 2vw;
    }
    button{
        width: max-content;
    }
    .header{
        height: 6.51rem;
    }
    .header input{
        padding: .60rem;
        box-sizing: content-box;
    }
    .logo-search{
    padding: 0;
    height: 100%;
    }
    /*Скрываем ненужное из nav*/
    .nav-account, .nav-account > img, .nav-account > button, .nav-account a{
        display: none;
    }
    .nav button{
        display: block;
        height: 40%;
        width: min-content;
        padding: 0;
        margin-right: 0;
        border: 0;
        margin-right: 1rem;
    }
    .nav button img{
        margin: 0;
        object-fit: cover;
        height: 100%;
    }
    .burger-menu{
        position: absolute;
        display: block;
        z-index: 10;
    }
    .burger-menu a{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo-search{
        padding-left: 1.35rem;
    }
    .featured-game{
        flex-direction: column;
        margin: 1.77rem 0;
        width: 100%;
    }
    .featured-game-description{
        margin: 0 0 1.77rem 1.98rem;
        width: auto;
    }
    .featured-game-description > a{
        font-size: 0.83rem;
    }
    .featured-game-caption{
        font-size: 2.34rem;
    }
    .featured-game-platform{
        margin-right: 1.46rem;
    }
    .featured-game-text{
        line-height: 2.08rem;
        font-size: 0.83rem;
    }
    .featured-game-price{
        width: max-content;
    }
    .featured-game-images{
        width: 100%;
        padding: 0;
    }
    .slider-button:last-child{
        right: 1rem;
    }
    .slider-button:first-child{
        left: 1rem;
    }
    .sale-head h2{
        font-size:  2.60rem;
    }
    .sale-head a{
        font-size:  1.56rem;
    }
    .sale-main{
        flex-direction: column;
    }
    .sale-picture{
        width: 100%;
    }
    .sale-game-nameprice{
        padding-top: 0.91rem;
        padding-bottom: 0.91rem;
        height: auto;
    }
    .sale-game-name{
        font-size: 1.56rem;
    }
    .sale-game-price{
        font-size: 1.17rem;
    }
    .footer{
        padding: 1.04rem 2.60rem;
        height: 3.32rem;
    }
    .footer *{
        font-size: 0.91rem;
    }
} 

